@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap');
$primary: #48A9A6;
$secondary: #FFEBAD;
$black: #02020A;
$white: #ecebeb;
$danger: #EF271B;
$success: #7CB518;
$warning: #FFFF00;

// general
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Rubik', sans-serif;
}
@media (max-width: 750px) {
    * {
        font-size: 10px;
    }
}
// header
header {
    background-color: $primary;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    .home {
        display: flex;
        gap: 1rem;
        align-items: center;
        .fa-bars {
            transition: all ease 0.5s;
            &:hover {
                scale: 1.2;
                rotate: 360deg;
                color: $secondary;
                cursor: pointer;
            }
        }
        #home {
            --s: 0.1em;  
            
            color: #0000;
            padding-bottom: var(--s);
            background: 
                linear-gradient(90deg,$secondary 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
                linear-gradient($secondary 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
            -webkit-background-clip: text,padding-box;
                    background-clip: text,padding-box;
            transition: 0.5s;
        }
        #home:hover {
            cursor: pointer;
            --_p: 100%
        }
       
    }
    .add {
        padding: 0.5rem;
        border: 3px solid #000;
        border-radius: 50%;
        transition: all 0.3s;
        &:hover {
            border-color: $secondary;
            cursor: pointer;
            .fa-plus {
                color: $secondary;
                transition: all 0.5s;
            }
        }
    }
    .completed {
        h2 {
            --s: 0.1em;   
            
            color: #0000;
            padding-bottom: var(--s);
            background: 
                linear-gradient(90deg,$secondary 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
                linear-gradient($secondary 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
            -webkit-background-clip: text,padding-box;
                    background-clip: text,padding-box;
            transition: 0.5s;
            .fa-check-double {
                color: #000;
                transition: all 0.5s;
            }
        }
        h2:hover {
            cursor: pointer;
            --_p: 100%;
            .fa-check-double {
                color: $secondary;
            }

        }
    }
}
// sidebar
aside {
    height: 88vh; 
    z-index: 2; 
    overflow-x: hidden; 
    transition: 0.5s; 
    position: relative;
    padding: 2rem;
    background-color: $white;
    width: 0rem;
    ul {
        list-style-type: none;
        #myProjects {
            &:hover {
                cursor: pointer;
            }
        }
        li{
            padding: 0.5rem 0.5rem;
            transition: all 0.3s;
            border-radius: 5px;
            .svg-inline--fa {
                margin-right: 0.5rem;
                color: $primary;
            }
            &:nth-child(3) {
                display: flex;
                flex-direction: row;
                span {
                    margin-left: auto;
                    transition: all 0.5s;
                }
            }
            &:hover {
                color: $primary;
                cursor: pointer;
                background-color: white;
            }
            
        }
        #dropdown-items {
            background-color: #D8D8D8 ;
            margin-left: 1rem;
            border-radius: 0.5rem;
            position: relative;
            height: 0;
            overflow-y: hidden;
            transition: all 0.7s;
            .dropdownItem {
                padding-left: 1rem;
            }
        }
    }
}

// mainContent
main {
    display: flex;
    section {
        flex: 1;
        .display-styles {
            float: right;
        }
        .content {
            padding: 2rem;
            
        }
        .grid {
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
            gap: 1rem;
            .card-style {
                padding: 1rem;
                border: 2px solid $black;
                border-radius: 1rem;
                h3, p {
                    text-align: center;
                    padding-bottom: 0.5rem;
                }
                .edits {
                    display: flex;
                    justify-content: space-between;
                    .svg-inline--fa {
                        padding: 0.5rem;
                        border-radius: 50%;
                        border: 1px solid $black;
                        transition: all 0.3s;
                        &:hover {
                            scale: 1.1;
                            cursor: pointer;
                        }
                    }
                    .low {
                        color: $primary;
                    }
                    .medium {
                        color: $warning
                    }
                    .high {
                        color: $danger;
                    }
                }
            }
        }
        .flex {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            .list-style {
                border: 1px solid $black;
                border-radius: 1rem;
                padding: 0.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .edits {
                    display: flex;
                    gap: 0.2rem;
                    .svg-inline--fa {
                        padding: 0.3rem;
                        border-radius: 50%;
                        border: 1px solid $black;
                        transition: all 0.3s;
                        &:hover {
                            scale: 1.1;
                            cursor: pointer;
                        }
                    }
                    .low {
                        color: $primary;
                    }
                    .medium {
                        color: $warning
                    }
                    .high {
                        color: $danger;
                    }
                }
            }
        }
    }
}







// modal 
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    transition: all 1s;
    opacity: 0.01;
    .card-modal-content {
        background-color: $white;
        margin: 15% auto; 
        padding: 20px;
        border: 1px solid $primary;
        width: 20rem; 
        border-radius: 15px;
        .modal-container {
            padding-top: 1.6rem;
        }
        .modal-titles {
            display: flex;
            padding-bottom: 1rem;
            .title {
                margin-right: 2rem;
                font-weight: bold;
            }
            .description {
                margin-left: auto;
                text-align: right;
            }
        }
    }
  }
  .modal-content {
    background-color: $white;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid $primary;
    width: 20rem; 
    border-radius: 15px;
    h3 {
        text-align: center;
    }
  }
  .close {
    color: $danger;
    float: right;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s;
  }
  .close:hover,
  .close:focus {
    color: $black;
    text-decoration: none;
    cursor: pointer;
  }
  form {
    input {
        margin: 0.5rem 0;
        width: 90%;
        padding: 8px;
        border-radius: 10px;
        outline: none;
        border: 1px solid $primary;
        transition: all 0.3s;
    }
    input:focus {
        box-shadow: 0 0 5px $primary;
    }
  }
  #submit {
    padding: 0.7rem 1rem;
    background-color: $success;
    color: $white;
    border: 2px solid $white;
    border-radius: 7px;
    margin: 0 auto;
    width: 40%;
    display: block;
    font-weight: bold;
    transition: all 0.3s;
  }
  #submit:hover {
    background-color: $white;
    color: $success;
    border-color: $success;
    cursor: pointer;
  }
